# Node
node_modules/

# Next.js build output
.next/

# TypeScript
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Env
.env*

# Editor
.vscode/
.idea/
*.swp

# Others
package-lock.json
yarn.lock

# Optional: test coverage
coverage/

# Ignore gzip files
*.gz

# Ignore bfg jar
*.jar
