@tailwind base;
@tailwind components;
@tailwind utilities;

/* 恢复全局 transition 样式，设置为 all 0.3s ease-in-out */
* {
  transition: all 0.3s ease-in-out; /* 与 Ant Design 默认过渡效果一致 */
}

/* 强制移除按钮的输入光标 */
button {
  cursor: pointer;
}

/* 为文字元素设置合理的默认行为 */
p, span, div {
  cursor: default; /* 默认光标 */
  user-select: text; /* 允许选择文字 */
}